@font-face {
  font-family: "iconfont"; /* Project id 4776579 */
  src: url('iconfont.woff2?t=1734435111700') format('woff2'),
       url('iconfont.woff?t=1734435111700') format('woff'),
       url('iconfont.ttf?t=1734435111700') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-css:before {
  content: "\e61e";
}

.icon-java:before {
  content: "\e639";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-springboot:before {
  content: "\e612";
}

.icon-a-mybatisplus:before {
  content: "\e62e";
}

.icon-mybatisplus:before {
  content: "\e602";
}

.icon-spring-security:before {
  content: "\e605";
}

.icon-document-uniapp:before {
  content: "\e603";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-CSS:before {
  content: "\e61d";
}

.icon-redis:before {
  content: "\e669";
}

.icon-suanfaku:before {
  content: "\e623";
}

.icon-moxingku:before {
  content: "\e61c";
}

.icon-aixin1:before {
  content: "\e85c";
}

.icon-guankan:before {
  content: "\e63e";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-shoucang:before {
  content: "\e601";
}

.icon-chevron-right:before {
  content: "\e688";
}

.icon-r:before {
  content: "\e650";
}

.icon-file:before {
  content: "\e66d";
}

.icon-github:before {
  content: "\e600";
}

.icon-shopping:before {
  content: "\e869";
}

