@font-face {
  font-family: "iconfont"; /* Project id 4776579 */
  src: url("/static/iconfont.ttf") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiayonghu1:before {
  content: "\e805";
}

.icon-shanchu:before {
  content: "\e8c1";
}

.icon-xiangyoujiantou:before {
  content: "\e60d";
}

.icon-yuanquanjiahao:before {
  content: "\e61f";
}

.icon-jiahao-:before {
  content: "\e60c";
}

.icon-lishi:before {
  content: "\e63b";
}

.icon-duigouxiao:before {
  content: "\e8bd";
}

.icon-icon_wrong:before {
  content: "\e629";
}

.icon-fasong1:before {
  content: "\e642";
}

.icon-bi:before {
  content: "\e608";
}

.icon-yonghuzu:before {
  content: "\e938";
}

.icon-lahei:before {
  content: "\e607";
}

.icon-quxiaoguanzhu:before {
  content: "\e705";
}

.icon-yichuyonghu:before {
  content: "\e609";
}

.icon-jubao-mianxing:before {
  content: "\e60b";
}

.icon-paixu:before {
  content: "\e66e";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-24gf-ellipsis:before {
  content: "\eb10";
}

.icon-cuowu:before {
  content: "\e641";
}

.icon-x:before {
  content: "\e85d";
}

.icon-wujiaoxing:before {
  content: "\e614";
}

.icon-wujiaoxing-:before {
  content: "\e647";
}

.icon-weibiaoti-:before {
  content: "\e60a";
}

.icon-dagou:before {
  content: "\e633";
}

.icon-fasong:before {
  content: "\e60f";
}

.icon-biaoqing:before {
  content: "\e606";
}

.icon-fenlei:before {
  content: "\e604";
}

.icon-biaoqian:before {
  content: "\eabd";
}

.icon-pinglun1:before {
  content: "\e891";
}

.icon-editor:before {
  content: "\e6f5";
}

.icon-ai64:before {
  content: "\e6b6";
}

.icon-star:before {
  content: "\e61b";
}

.icon-css:before {
  content: "\e61e";
}

.icon-java:before {
  content: "\e639";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-springboot:before {
  content: "\e612";
}

.icon-a-mybatisplus:before {
  content: "\e62e";
}

.icon-mybatisplus:before {
  content: "\e602";
}

.icon-spring-security:before {
  content: "\e605";
}

.icon-document-uniapp:before {
  content: "\e603";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-CSS:before {
  content: "\e61d";
}

.icon-redis:before {
  content: "\e669";
}

.icon-suanfaku:before {
  content: "\e623";
}

.icon-moxingku:before {
  content: "\e61c";
}

.icon-aixin1:before {
  content: "\e85c";
}

.icon-guankan:before {
  content: "\e63e";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-shoucang:before {
  content: "\e601";
}

.icon-chevron-right:before {
  content: "\e688";
}

.icon-r:before {
  content: "\e650";
}

.icon-file:before {
  content: "\e66d";
}

.icon-github:before {
  content: "\e600";
}

.icon-shopping:before {
  content: "\e869";
}
